/* @tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-size: 1rem;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
*/
